@{
    ViewBag.Title = "About Us";
}
<h1 class="display-4" style="text-align:center; color: limegreen;">About Us</h1>

<img src="~/images/black.png" class="center py-3" />

<div>
    <h2 style="text-align:center" class="py-3">Robin's Story!</h2>

    <p style="text-align:center">
        Hi, I am Robin and I am a nail artist. With more than 30+ years of experience, I have collected a personal database of over <b>25,000</b> unique designs. I have spent most of my life creating these miniature paintings on nails by myself. In 2010, I decided to share my knowledge with the world. I chose <b>YouTube</b> as my platform, only asking those learning from me to say: "Inspired by Robin Moses” in return for all my teaching.  As of today I have over <b>380,000</b> subscribers and <b>70 million views</b>!
    </p>
    <div class="container">
        <div class="row align-items-start py-4">
            <div style="text-align:left" class="col">
                
                <p>
                    My goal is to serve anyone seeking a positive influence no matter what your age, geographical location or state of health may be. The comments and profound leaps of faith that thousands of people share with me on my YouTube channel are amazing and borders on overwhelming. My art extends beyond my love of nail art. The techniques I teach can be used to paint clothing, shoes, candles, windows for the holidays, arts and crafts figurines, glass ornaments and so much more.
                </p>
                <h3>Why Create Brushes?</h3>
                <p>
                    I never had access to brushes that were right for me. I have always had to <b>cut them myself</b>. I have worked very hard over the last <b>2 YEARS</b> to create a set of brushes that give my viewers the exact tools needed for my tutorials. Anyone interested in ALL FACETS of arts and crafts will find my brushes <b>easy to use</b> with significant benefits, especially when working alongside of my videos. Out of necessity and an outcry of need from my viewers, I had to make this happen.
                </p>
                <p>
                    It takes proper tools, practice and instruction to bring your art together. It is so much easier to master technique with a good brush. I can paint a portrait on a nail but cannot paint a simple daisy without having a good brush. <b>The brush is an extension of your mind</b>. It has to be precise, yet forgiving. To provide a premium set of brushes to all of those who are using my channel on YouTube--and for myself as a fellow artist--is a dream come true. I will be able to teach more efficiently, explain in more detail and provide all of those wanting to learn a better result.
                </p>

                <h3>How Did I Get Here?</h3>
                <p>
                    After spending 30+ years cutting my own brushes, <b>I spent the last 2 years</b> working to ensure these brushes were exactly right!
                </p>
                <p>
                    I spent <b>YEAR 1</b> working with the manufacturer testing different handles, hairs and lengths.  I didn't settle until I got them perfect!
                </p>
                <p>
                    I spent <b>YEAR 2</b> working to ensure I could produce as many brushes as needed while still maintaining a high standard of quality.  As of today I have done <b>3 product runs</b> and have had over <b>2,000 brushes tested!</b>
                </p>
            </div>
            <div class="col">
                <img src="~/images/allinone.png" style="float:right" class="home img-border" />
            </div>
        </div>

        <div class="row align-items-center py-4">
            <div class="col">
                <img src="~/images/art.jpg" id="nachos" style="float:left" class="home img-border" />
                <img src="~/images/rmna.jpg" id="nachos" style="float:left" class="home img-border" />
            </div>
            <div style="text-align:right" class="col">
                <p>
                    Putting the brushes in the hands of some of my most active followers allowed me to ensure they would work for everyone and the reviews have been amazing!
                </p>
            </div>
        </div>
        <div class="row align-items-end py-4">
            <div class="col" style="text-align:left">
                <h3>Let Me Teach You MAGIC</h3>
                <p>
                    With this 30+ years-in-the-making brush set I have personally constructed, you will learn skills that nobody can take from you. You have this knowledge, this craft, this practical art that’s joyful—that brings people happiness—and it’s shared and shared again. 
                    It's never-ending. When someone who might feel unimportant or unsure says, “Look what I did!” and the other person looks--then looks again and says, "WOW!"--that is a joy given to people that stays with them. The joy grows and manifests a giving nature throughout life, and <b>the artists I am teaching will then teach others</b>. 
                    This way of thinking has healed my spirit and I want nothing more than to keep passing this on to as many people as possible. Step-by-step, <b>you can acquire amazing skills</b> and <b>create magic</b> that helps others in immeasurable ways. I believe that <b>giving the gift of art</b> is the most important thing that I can give in MY lifetime. 
                    Teaching and doing my part has become MY joy...and that is creating a better world, I believe.
                </p>
            </div>
            <div class="col">
                <br /><br />
                <img src="~/images/brushes.png" class="home center img-border" />
            </div>
</div>
@* TODO:
    ADD CORRECT IMAGES
    FIX BORDER SIZE
    SPACE DIFFERENT IF DIRECTED*@