@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome to Robin Moses Nail Art!</h1>
    
    <img src="~/images/black.png" class="center py-3">
    <p class="align-content-center">
        Hi, I'm Robin Moses. I have been making and teaching nail art on YouTube for over a decade! I created my own line of high-end, inexpensive nail art brushes because finding quality tools at an affordable price is not easy. I have seen so many wonderful people all over the world find joy and careers they love through nail art! I hope you enjoy my brushes as much as I do!
    </p>

</div>

<div class="container">
        <div class="col" style="text-align: left">
        <img src="~/images/brushes.png" id="nachopatio" style="max-width: 404px; float: right;" class="home img-border">
        <h3>Revolutionize Your Nail Art</h3>
        <p>
            With these three brushes, you can master nail art using ANY medium!
        </p>
        </div>
</div>
            
<br /><br /><br />
<div class="container">
    <div class="row align-items-start">
        <div class="col" style="text-align: left">
        <h2>The Right Tools</h2>
        <p>
            Why look any further? These are the tools that can do it all! Find the brush you need at the price you want!
        </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col" style="text-align: left">
            <br><br>
            <h2>Witchy {New Liner Brush}</h2>
            <p>
                This is my new liner brush I created to go from intricate nail art to body painting effortlessly without fear of ruining the tip. It is a firmer version of the wand; 
                It's perfect for multimedia miniature paintings. I hope you love it as much as I do!
            </p>
        </div>
        <div class="col">
            <br><br>
            <img src="~/images/witchy.png" id="nachopatio" style="float: left" class="home img-border" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col" style="text-align: left">
            <br><br>
            <h2>The Wand {Liner Brush}</h2>
            <p>
                This is the nail art brush I created for all of my tutorials. The Wand gives you control to create portraits and still create stripes of any length or thickness and even makes perfect dots! 
                The Wand is a universal must-have if you are serious about hand painting nails!
            </p>
        </div>
        <div class="col">
            <br><br>
            <img src="~/images/wand.png" id="nachopatio" style="float: right" class="home img-border" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col" style="text-align: left">
            <br><br>
            <h2>The Unicorn {Striping Brush}</h2>
            <p>
                My perfected striping brush has bend, control and lasts for years. Brushes like this are impossible to find, that’s why I named it the Unicorn. It took 3 years to create and out-performs other striping brushes that cost up to $50.00 each! 
                If you are interested in mastering striping or already have, this is a must-have for nails!
            </p>
        </div>
        <div class="col">
            <br><br>
            <img src="~/images/unicorn.png" id="nachopatio" style="float: left" class="home img-border" />
        </div>
    </div>
</div>
</div>