@{
    ViewData["Title"] = "Shop";
}

<h1 class="display-4" style="text-align:center; color: red;">Shop</h1>

<div class="container">
    <h2 style="text-align:center" class="py-3">Our Brushes</h2>

    <div class="row align-items-start py-4">
        <div class="container">
            <div class="row align-items-start py-4">
                <div style="text-align:center" class="col">
                    <h3>The Complete Set</h3>
                    <img src="~/images/shopfifyall.webp" />
                    <p>Get a Set of all 3 Brushes! One Wand, One Unicorn, and One NEW Witchy!<br>Regular price: $25.00</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
                <div style="text-align:left" class="col">
                    <h3>The Wand and Unicorn Set</h3>
                    <img src="~/images/shopfifytwo.webp" />
                    <p>Get a Set of Brushes! One Wand and One Unicorn!<br>Regular price: $20.00</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
                <div style="text-align:right" class="col">
                    <h3>The Witchy Brush</h3>
                    <img src="~/images/shopfifywitchy.webp" />
                    <p>The Witchy Robin Moses Nail Art Brush<br>Regular price: $10.00</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
                <div style="text-align:right" class="col">
                    <h3>The Wand Brush</h3>
                    <img src="~/images/shopfifywand.webp" />
                    <p>The Wand Robin Moses Nail Art Brush<br>Regular price: $10.00</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
                <div style="text-align:left" class="col">
                    <h3>The Unicorn Brush</h3>
                    <img src="~/images/shopfifyunicorn.webp" />
                    <p>The Unicorn Robin Moses Nail Art Brush<br>Regular price: $10.00</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
</div>