@{
    ViewData["Title"] = "Nail Art Brushes";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="display-4" style="text-align: center">Nail Art Shop</h1>

<div class="containerGBT">
    <div class="row">
        <div class="column leftspc col-md-8">
            <h3 class="py-2 " style="text-align:center; padding-right: 80px">~ Our Specials This Month ~</h3>

            <div class="py-3">
                <div class="card spccard">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="cardpicture" src="~/images/Specials/sampler.jpg">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:600">Chula's Sampler</h3>
                            <i>$20.25</i>
                            <p class="card-text pt-2">A Chile Relleno with our Bacon Wrapped Shrimp. Served with rice, beans, pico de gallo, guacamole, and tortillas.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="py-3">
                <div class="card spccard">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="cardpicture" src="~/images/Specials/chickenWings.jpg" />
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:600">Chicken Wings</h3>
                            <i>$11.95</i>
                            <p class="card-text pt-2">7 Crispy chicken wings smothered in our house made sweet and tangy sauce. Served with carrots and ranch.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-3">
                <div class="card spccard">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="cardpicture" src="~/images/Specials/qcEnchiladas.jpg" />
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:600">Queso Corn Enchiladas</h3>
                            <i>One: $10.75  Two: $12.75</i>
                            <p class="card-text pt-2">One of two enchiladas filled with your choice of chicken, shredded beef, or ground beef. Topped with flavorful queso corn salsa.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-3">
                <div class="card spccard">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="cardpicture" src="~/images/Specials/chulasTacos.jpg" />
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:600">Chula's Street Tacos</h3>
                            <i>$20.25</i>
                            <p class="card-text pt-2">Three tacos with your choice of carne asada, carnitas, or al pastor. Topped with grilled onions, cilantro, our house made guacamole sauce and a new red salsa.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="column rightspc col-md-4" style="padding-left:100px; text-align:center">
            <div>
                <br>
                <h2 style="font-weight:600; font-size:xx-large"><u>Happy Hour</u></h2>
                <p><i>Tuesday to Friday 3pm - 6pm!</i></p>
                <h3>Regular Margaritas</h3>
                <p><i>$6.00</i></p>
                <h3>Beers</h3>
                <p><i>$3.50</i></p>
                <h3>Tacos</h3>
                <p><i>$3.00 - $5.00</i></p>
                <br /><br />

                <h2 style="font-weight:600; font-size:xx-large"><u>Daily Margarita Pitchers</u></h2>
                <h3>Tuesday</h3>
                <p><i>Mango Margarita Pitcher | $22.00</i></p>
                <h3>Wednesday</h3>
                <p><i>Guava Margarita Pitcher | $22.00</i></p>
                <h3>Thursday</h3>
                <p><i>Raspberry Margarita Pitcher | $22.00</i></p>
                <h3>Friday</h3>
                <p><i>Lime Margarita Pitcher | $22.00</i></p>
                <h3>Saturday</h3>
                <p><i>Peach Margarita Pitcher | $22.00</i></p>
                <h3>Sunday</h3>
                <p><i>Strawberry Margarita Pitcher | $22.00</i></p>
                <br /><br />
            </div>
        </div>
    </div>
</div>
@* <h1 class="display-4" style="text-align: center">Specials/Happy Hour</h1>

<div class="container" style="display:inline-block">
    <div class="row">
        <h3 class="py-2 mx-5">Our Specials This Month</h3>
        <div class="column leftspc col-md-8" style="text-align:center">

            <div class="card" style="width:700px">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="cardpicture" src="~/images/chulas-combo-plate.jpg" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="font-weight:600">Chula's Sampler</h3>
                        <i>$20.25</i>
                        <p class="card-text pt-2">A Chile Relleno with our Bacon Wrapped Shrimp. Served with rice, beans, pico de gallo, guacamole and tortillas.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column leftspc col-md-8" style="text-align:center">

            <div class="card" style="width:700px">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="cardpicture" src="~/images/chulas-combo-plate.jpg" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="font-weight:600">Chicken Wings</h3>
                        <i>$11.95</i>
                        <p class="card-text pt-2">7 crispy chicken wings smothered in our house made sweet and tangy sauce. Served with carrots and ranch</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column leftspc" style="text-align:center">

            <div class="card" style="width:700px">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="cardpicture" src="~/images/chulas-combo-plate.jpg" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="font-weight:600">Queso Corn Enchiladas</h3>
                        <i>One: $10.75</i>
                        <i>One: $12.75</i>
                        <p class="card-text pt-2">One or two enchiladas filled with your choice of chicken, shredded beef or ground beef. Topped with flavorful queso corn salsa.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column leftspc col-md-8" style="text-align:center">

            <div class="card" style="width:700px">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="cardpicture" src="~/images/chulas-combo-plate.jpg" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title" style="font-weight:600">Chicken Wings</h3>
                        <i>$11.95</i>
                        <p class="card-text pt-2">7 crispy chicken wings smothered in our house made sweet and tangy sauce. Served with carrots and ranch</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column rightspc cold-md-4" style="text-align: center">
            <div>
                <br>
                <h2 style="font-weight:600; font-size:xx-large"><u>Happy Hour</u></h2>
                <p><i>Tuesday to Friday 3pm - 6pm!</i></p>
                <h3>Regular Margaritas</h3>
                <p><i>$6.00</i></p>
                <h3>Beers</h3>
                <p><i>$3.50</i></p>
                <h3>Tacos</h3>
                <p><i>$3.00 - $5.00</i></p>
                <br /><br />

                <h2 style="font-weight:600; font-size:xx-large"><u>Daily Margarita Pitchers</u></h2>
                <h3>Tuesday</h3>
                <p><i>Mango Margarita Pitcher | $22.00</i></p>
                <h3>Wednesday</h3>
                <p><i>Guava Margarita Pitcher | $22.00</i></p>
                <h3>Thursday</h3>
                <p><i>Raspberry Margarita Pitcher | $22.00</i></p>
                <h3>Friday</h3>
                <p><i>Lime Margarita Pitcher | $22.00</i></p>
                <h3>Saturday</h3>
                <p><i>Peach Margarita Pitcher | $22.00</i></p>
                <h3>Sunday</h3>
                <p><i>Strawberry Margarita Pitcher | $22.00</i></p>
                <br /><br />

            </div>
        </div>
    </div>
</div> *@

